form{
    display: block;
    float: left;
}

select{
     float: left;
    clear: both;
}

#login {
    border-radius: 25px;
    border-width: medium;
    border-style: double;
    text-align: left;
    padding: 10px;
}

label {
    float: left;
    clear: both;
}

input[type="text"],
input[type="password"] {
    float: right;
}

input[type="reset"]{
    float: left;
}

input[type="submit"] {
    clear: both;
    display: block;
}

table {
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
}